# AWS
{% if aws_access_key_id is defined %}
export AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
{% endif %}
{% if aws_secret_access_key is defined %}
export AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
{% endif %}
