# Chef                                                                           
{% if chef is defined and chef.user is defined %}
export OPSCODE_USER={{ chef.user }}
{% endif %}
{% if chef is defined and chef.url is defined %}
export CHEF_URL={{ chef.url }}
{% endif %}
{% if chef is defined and chef.repo is defined %}
export CHEF_REPO=/home/{{ user.name }}/workspace/{{ chef.repo }}
{% endif %}
{% if chef is defined and chef.log_level is defined %}
export CHEF_LOG_LEVEL={{ chef.log_level }}
{% endif %}
eval "$(chef shell-init zsh)"
