---
extends: default
ignore: |
  .venv/
  .ansible/
rules:
  comments-indentation: disable
  document-start: disable
  indentation: disable
  line-length: disable
  truthy: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: -1
    max-spaces-inside-empty: -1
