background no
out_to_console yes
out_to_x no
update_interval {{ conky.update_int }}
total_run_times 0
short_units yes
pad_percents 3

default_color {{ conky.color_01 }}
default_outline_color white
default_shade_color white
# xftfont DejaVu Sans Mono:size=12

override_utf8_locale yes

TEXT
,[{"full_text": " ^ $uptime ", "color":"\#{{ conky.color_01 }}" },
  {"full_text": " ❤ CPU $acpitemp°C $cpu% ${cpubar 4} ", "color":"\#{{ conky.color_02 }}" },
  {"full_text": " ≣ RAM $memperc% ${membar 4} ", "color":"\#{{ conky.color_02 }}" },
  {"full_text": " ≣ / ${fs_bar 6 /} ", "color":"\#{{ conky.color_01 }}" },
  {"full_text": " ≣ /home ${fs_bar 6 /home} ", "color":"\#{{ conky.color_01 }}" },
  {"full_text": " ≣ /swap $swapperc% ${swapbar 4} ", "color":"\#{{ conky.color_01 }}" },
  ${if_up {{ conky.interface }}}{"full_text": " ≈ ${wireless_essid {{ conky.interface }}} [${wireless_link_qual_perc {{ conky.interface }}}%] ","color":"\#{{ conky.color_02 }}"},
  $else${if_up {{ conky.interface }}}{"full_text": " ≈ {{ conky.interface }} ","color":"\#{{ conky.color_02 }}"},
  $else{"full_text": " ≈ no connection ","color":"\#{{ conky.color_02 }}"},$endif$endif
  {"full_text": " ☇ [${battery_percent BAT1}%] ${battery_bar BAT1} ","color":"\#{{ conky.color_02 }}"},
  {"full_text": " ${time WW%V.%u, %a %d %b}","color":"\#{{ conky.color_03 }}"},
  {"full_text": " ${time %H:%M}","color":"\#{{ conky.color_03 }}"}
  # {"full_text": " ${color1} ${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1} "}
  # {"full_text": " ♪ [$mixer%] ", "color":"\#268BD2"},
]
