! vim: set filetype=xdefaults :

URxvt.perl-ext-common : default,keyboard-select,url-select,clipboard,font-size

URxvt.keysym.M-x                : perl:keyboard-select:activate
URxvt.keysym.M-u                : perl:url-select:select_next
URxvt.keysym.Shift-Control-C    : perl:clipboard:copy
URxvt.keysym.Shift-Control-V    : perl:clipboard:paste
URxvt.clipboard.copycmd         : xsel -ib
URxvt.clipboard.pastecmd        : xsel -ob
URxvt.keysym.M-s                : perl:keyboard-select:search
URxvt.keysym.M-C-v              : perl:clipboard:paste_escaped
URxvt.url-select.launcher       : chromium
URxvt.url-select.autocopy       : true
URxvt.url-select.underline      : true

! https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-equal:   perl:font-size:increase
URxvt.keysym.C-minus:   perl:font-size:decrease


URxvt.intensityStyles   : false
URxvt.font              : xft:mono:pixelsize=18
URxvt.termName          : rxvt
URxvt.iso14755          : false

URxvt.urgentOnBell: true

URxvt.saveLines   : 12000
URxvt.scrollBar   : false
URxvt.scrollstyle : rxvt

! XFT
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb

!Fading
URxvt.fading    : 05
URxvt.fadeColor : black

#include "Xresources.dark"
