audio_quality = {high, medium, low}

{% if pandora is defined and pandora.station is defined %}
autostart_station = {{ pandora.station }}
{% endif %}
{% if pandora is defined and pandora.password is defined %}
password = {{ pandora.password }}
{% endif %}
{% if pandora is defined and pandora.email is defined %}
user = {{ pandora.email }}
{% endif %}
