# Conky, a system monitor, based on torsmo
#
# Any original torsmo code is licensed under the BSD license
#
# All code written since the fork of torsmo is licensed under the GPL
#
# Please see COPYING for details
#
# Copyright (c) 2004, Hannu Saransaari and Lauri Hakkarainen
# Copyright (c) 2005-2010 Brenden Matthews, Philip Kovacs, et. al. (see AUTHORS)
# All rights reserved.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

alignment top_left
background no
border_width 1
cpu_avg_samples 2
default_color 555555
default_outline_color white
default_shade_color white
color1 FFCC99
color2 33CC33
draw_borders no
draw_graph_borders yes
draw_outline no
draw_shades no
use_xft yes
xftfont DejaVu Sans Mono:size=12
gap_x 50
gap_y 50
minimum_size 5 5
net_avg_samples 2
no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window no
own_window_class Conky
own_window_type desktop
stippled_borders 0
update_interval {{ conky.update_int }}
uppercase no
use_spacer none
show_graph_scale no
show_graph_range no
text_buffer_size 2048

TEXT
${color2}Uptime:$color1 $uptime
${color2}Frequency (in MHz):$color1 $freq
${color2}Frequency (in GHz):$color1 $freq_g
${color2}RAM Usage:$color1 $mem/$memmax - $memperc% ${membar 4}
${color2}Swap Usage:$color1 $swap/$swapmax - $swapperc% ${swapbar 4}
${color2}CPU Usage:$color1 $cpu% ${cpubar 4}
${color2}Processes:$color1 $processes  ${color2}Running:$color1 $running_processes
$hr
${color2}File systems:
${color2}/ $color1${fs_used /}/${fs_size /} ${fs_bar 6 /}
${color2}/var $color1${fs_used /var}/${fs_size /var} ${fs_bar 6 /var}
${color2}/home $color1${fs_used /home}/${fs_size /home} ${fs_bar 6 /home}
${color2}Networking:
Up:$color1 ${upspeed {{ conky.interface  }}} ${color2} - Down:$color1 ${downspeed {{ conky.interface  }}}
$hr
${color2}Name              PID   CPU%   MEM%
${color1} ${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1}
${color1} ${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2}
${color1} ${top name 3} ${top pid 3} ${top cpu 3} ${top mem 3}

