{% if aws.access_key_id is defined %}
export AWS_ACCESS_KEY_ID={{ aws.access_key_id }}
{% endif %}
{% if aws.secret_access_key is defined %}
export AWS_SECRET_ACCESS_KEY={{ aws.secret_access_key }}
{% endif %}
