#!/usr/bin/zsh

# ENV
export EDITOR={{ editor }}
export BROWSER=/usr/bin/{{ browser }}
export LANG={{ lang }}

# Default w3m page
export HTTP_HOME=www.google.com

# Terminal
export TERM={{ zsh.terminal }}
export TERMINAL={{ zsh.terminal }}
export COLORTERM={{ zsh.terminal }}
