# Python venv
# pip completion --zsh
export WORKON_HOME=~/.virtualenvs
export PROJECT_HOME=$PROJECT_HOME
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python
source /usr/bin/virtualenvwrapper.sh
python=pylint
