typeset -U path
path=(
  $path
{% for i in path %}                                                        
  {{ i }}                                                                   
{% endfor %}  
)
