{
  "chef":{
    "chef_server_url":"{{ chef.server_url }}",
    "validation_client_name":"{{ chef.validation_client_name }}",
  },
  "cookbook":{
    "copyright":"{{ chef.copyright }}",
    "email":"{{ chef.email }}",
    "license":"GPL-2.0"
  },
  "ssl":{
    "verify":false
  }
}
