AllCops:
  TargetRubyVersion: 2.3
  # Exclude:
    # - test/**
    # - vendor/**/*
    # - spec/**
    # - Guardfile
    # - Vagrantfile

Style/FileName:
  Description: 'Use snake_case for source file names.'
  StyleGuide: 'https://github.com/bbatsov/ruby-style-guide#snake-case-files'
  Enabled: false

Metrics/LineLength:
  Description: 'Limit lines to 80 characters.'
  StyleGuide: 'https://github.com/bbatsov/ruby-style-guide#80-character-limits'
  Max: 164
  Enabled: false

Style/CommentIndentation:
  Description: 'Indentation of comments.'
  Enabled: false

Style/LeadingCommentSpace:
  Description: 'Comments should start with a space.'
  StyleGuide: 'https://github.com/bbatsov/ruby-style-guide#hash-space'
  Enabled: false

Style/SpaceBeforeFirstArg:
  Enabled: false

PercentLiteralDelimiters:
  PreferredDelimiters:
    "%r": "()"
    "%w": "[]"  # Arrays use brackets
    "%W": "[]"  # Arrays use brackets

ClassAndModuleChildren:
  EnforcedStyle: compact

Metrics/AbcSize:
 Max: 30

MethodLength:
  Max: 30

# Documentation:
#   Enabled: false

# AlignParameters:
#   Enabled: false

# Encoding:
#   Enabled: false

# HashSyntax:
#   Enabled: false

inherit_from: .rubocop_todo.yml
# inherit_from: test/support/rubocop/enabled.yml
# inherit_from: test/support/rubocop/disabled.yml
