---

# - name: Generate pacman mirrorlist
#   template:
#     src: mirrorlist.j2
#     dest: /etc/pacman.d/mirrorlist
#   tags: [ "pkgs" ]

- name: Install all required packages
  package: name={{item}} state=present
  with_items: "{{ pkgs }}"
  tags: [ 'pkgs' ]

